.flex-start {
  align-self: flex-start;
}

.flex-end {
  align-self: flex-end;
}

.center {
  align-self: center;
}

.baseline {
  align-self: baseline;
}

.stretch {
  align-self: stretch;
}

.align-items {
  align-items: flex-end;
}

.column {
  flex-direction: column;
}

/* ESTILOS GERAIS */
.item {
  flex: 1;
  margin: 5px;
  background: tomato;
  text-align: center;
  font-size: 1.5em;
  position: relative;
}


.item:first-child {
  padding-top: 20px;
}
.container {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  border: 1px solid #ccc;
}

body {
  font-family: monospace;
  color: #333;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
  font-size: 1.25em;
  font-weight: normal;
}
